<script src="../Libs/logger.js"></script>
<script src="../Libs/JSLIB.js"></script>
<script src="../Libs/EventBroker.js"></script>
<script src="../Libs/stringEXT.js"></script>
<script src="../Libs/PolymerObj.js"></script>

<style>
    .red {color: red;}
</style>

<dom-module id="UG-Icon-Cross">
    <template>
        <iron-icon icon="icons:close" class='red'></iron-icon>
    </template>

    <script>
        var pObj = new PolymerObj('UG-Icon-Cross');
        Polymer(pObj);
    </script>

</dom-module>
