<script src="../Libs/logger.js"></script>
<script src="../Libs/JSLIB.js"></script>
<script src="../Libs/EventBroker.js"></script>
<script src="../Libs/stringEXT.js"></script>
<script src="../Libs/PolymerObj.js"></script>

<style>
    .green {color: green;}
</style>

<dom-module id="UG-Icon-Check">
    <template>
        <iron-icon icon="icons:check" class='green'></iron-icon>
    </template>

    <script>
        var pObj = new PolymerObj('UG-Icon-Check');
        Polymer(pObj);
    </script>
</dom-module>
