<script src="../Libs/logger.js"></script>
<script src="../Libs/JSLIB.js"></script>
<script src="../Libs/EventBroker.js"></script>
<script src="../Libs/stringEXT.js"></script>
<script src="../Libs/PolymerObj.js"></script>
<link rel="import" href="UG-Base-Button.html">

<dom-module id="UG-Button-Clear">
    <template>
        <UG-Base-Button id="[[id]]" class$="[[class]]" caption="Clear Filters"></UG-Base-Button>
    </template>

    <script>
        var pObj = new PolymerObj('UG-Button-Clear');
        pObj.properties.caption = {type: String, value:'Clear Filters'};
        pObj.click = function (event) {
            EventBroker.trigger("clearFilters");
        };
        pObj.listeners.click = 'click';
        Polymer(pObj);
    </script>

</dom-module>
